.article-wrapper
  .card.hoverable
    = link_to article_path(article) do
      .card-image
        - if article.main_image.present?
          = image_tag article.main_image.url, onerror: "this.src='slider01.jpg'"
        - else
          = image_tag 'slider01.jpg'
        %span.card-title.text-over-flow.over-title= article.title
      .card-content
        .chip
          %i.mini.material-icons today
          %span.tip-date= article.created_at.strftime('%Y.%m.%d')
        .chip
          %i.mini.material-icons face
          %span.tip-date= User.find(article.user_id.to_i).name
        .chip
          %i.mini.material-icons favorite
          %span.tip-date 1
          -# %span.tip-date= article.favorite_ids.length
        %p.text-over-flow.text-detail= article.content
    .card-action
      .right-align
        = link_to root_path, class: 'btn btn-floating grey lighten-5 waves-effect waves-light' do
          %i.favorite.material-icons favorite_border
