.navbar-fixed
  %nav
    .nav-wrapper.container
      = link_to 'SiteName', root_path, class: 'brand-logo left site-name'
      %ul.right
        - if user_signed_in?
          %li
            = link_to root_path do
              %i.mini.material-icons favorite
          %li
            = link_to new_article_path do
              %i.mini.material-icons create
          %li= link_to "ログアウト", destroy_user_session_path, method: :'delete'
        - else
          %li= link_to "ログイン", new_user_session_path
          %li= link_to "会員登録", new_user_registration_path
